.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: "Comfortaa", cursive;
}

.author {
  margin-top: 0.5em;
  text-align: right;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
